.modal {
  max-width: 50ch;
}
.modal > * {
  margin: 0 0 0.5rem 0;
}

.modal::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.modal1 {
    display: none; /* Hidden by default */
	max-width: 50ch;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal1::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.modal1::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

/* extra styling */
body {
  min-height: 100vh;
  font-family: system-ui;
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0
10px
}

h1 em {
  color: var(--cyan-9);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

h1,h2,h3{line-height:1.2}
